<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <title>TWIL Group 1</title>

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"></script>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <header class="header_section">
        <div class="header_top">
            <div class="container-fluid">
                <div class="contact_link-container">
                    <a href="" class="contact_link1">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>
                            TWIL - Work Integrated Learning
                        </span>
                    </a>
                    <a href="" class="contact_link2">
                        <i class="fa fa-houzz" aria-hidden="true"></i>
                        <span>
                            Sentiment Analysis
                        </span>
                    </a>
                    <a href="" class="contact_link3">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>
                            Group 1
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="header_bottom">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                        <ul class="navbar-nav  ">
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Service" asp-action="index">Multiple</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Home" asp-action="index"> Single</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    @RenderBody()
    <!-- footer section -->
    <footer class="container-fluid footer_section">
        <p>
            &copy; <span id="currentYear"></span> Torrens University - Australia
        </p>
    </footer>
    <!-- footer section -->

</body>

</html>